html{
    background-color: white;
    min-height: 100vh;
    min-width: 100%;
}
body{
    display: flex;
    height:  100vh;
    width: 80%;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(255, 255, 255);
}
header{
    display: flex;
    position: absolute;
    width: 500px;
    height: 80px;
    top: 20px;
    border: solid;
    border-width: 10px;
    border-color: rgb(10, 87, 74);
    border-radius: 10px;
    background-color: rgb(10, 100, 85);
    box-shadow: 0 0 5px black;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    color: white;
}
.container{
    display: flex;
    position: relative;
    justify-self: center;
    align-self: center;
    flex-wrap: wrap;
    margin-top: 80px;
    height: 400px;
    width: 350px;
    border: solid 10px;
    border-color: rgb(10, 87, 74);
    border-radius: 10px;
    background-color: rgb(10, 87, 74);
    box-shadow: 0 0 5px black;
}
#grid{
    display: grid;
    height: 350px;
    width: 350px;
    grid-template-columns: repeat(25, 1fr); 
    grid-template-rows: repeat(25, 1fr);
    background-color: white;
}
.cell{
    background-color: white;
}
button{
    margin: auto;
    height: 40px;
    width: 150px;
    font-size: 1.1rem;
    font-weight: 400;
}

#automate{
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
    left: 5px;
    top: 5px;
    color: rgb(196, 196, 196);
    font-size: 2rem;
    width: 38px;
    transition: all 0.2s;
    user-select: none;
    text-shadow: 0 0 3px black;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
#automate:hover{
    cursor: pointer;
    color: gold;
    background-color: rgba(168, 168, 168, 0.753);
    text-shadow: 0 0 3px black;
    transition: all 0.2s;
}


.dead{
    background-color: rgba(0, 0, 0, 0%);
}
.alive{
    background-color: rgba(0, 0, 0);
}